In [5]:
marks = int(input("enter your marks "))
if marks >= 80 :
    print("you will be a part of a0 batch")
elif marks >= 60 and marks< 80 :
    print("you will be a part of a1 batch")
elif marks >= 40 and marks<60 :
    print("you will a part of a2 batch")
else :
    print("you will be a part of a3 batch")

enter your marks 90
you will be a part of a0 batch

In [2]:
10 >= 80

False

In [7]:
price = int(input("enter the price"))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

enter the price700
i will purchase

In [11]:
price = int(input("enter the price"))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000:
        print("it's ok")
elif price < 1000:
    price("i will purches")
else:
    print("not interested")

enter the price2000
i will not purchase

In [12]:
l = [1,2,3,3,4,5,6,7,8]

In [20]:
for i in l:
    print(i+1)
l

2
3
4
4
5
6
7
8
9

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [18]:
l1

NameError: name 'l1' is not defined

In [19]:
l

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [29]:
l = ['krishna', 'dabhi', 'pwskills', 'course']

In [30]:
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())

krishna
dabhi
pwskills
course

In [32]:
l1

['KRISHNA', 'DABHI', 'PWSKILLS', 'COURSE']

In [33]:
l = [1,2,3,4,4,'krishna','dabhi', 355.353,'abc']

In [35]:
l1_num = []
l2_str = []
for i in l:
    if type(i) == int or type(i) == float:
        l1_num.append(i)
    else:
        l2_str.append(i)

In [36]:
l1_num

[1, 2, 3, 4, 4, 355.353]

In [37]:
l2_str

['krishna', 'dabhi', 'abc']